* {
	box-sizing: border-box;
}

body {
	color: #544837;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}

button {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
}

.title {
	color: #2F281E;
}

.container {
	max-width: 1124px;
	margin: 0 auto;
	padding: 0 10px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
}

.menu {
	margin-left: auto;
}

.menu__list {
	display: flex;
}

.menu__list-item+.menu__list-item {
	margin-left: 24px;
}

.menu__list-link {
	color: #2F281E;
	font-size: 14px;
	line-height: 28px;
	text-decoration: none;
}

.user-nav {
	margin: 0 13px 0 52px;
}

.user-nav__link {
	color: #173A56;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	padding: 11px 23px;
	border: 1px solid #BCD0E5;
	border-radius: 4px;
	text-decoration: none;
}

.user-nav__link+.user-nav__link {
	color: #FFFFFF;
	margin-left: 14px;
	border-color: transparent;
	background-color: #FF9900;
}

.top__inner {
	padding: 133px 0 80px;
	background-image: url(../images/top-bg.svg);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.top__title {
	max-width: 518px;
	font-size: 44px;
	line-height: 54px;
	margin-bottom: 30px;
}

.top__text {
	max-width: 458px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 460;
	margin-bottom: 45px;
}

.top__btn {
	display: inline-block;
	border: none;
	color: #FFFFFF;
	background-color: #FF9900;
	padding: 15px 41px 14px 41px;
	border-radius: 4px;
	margin-right: 30px;
}

.top__link {
	display: inline-block;
	color: #FF9900;
	padding-left: 26px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	position: relative;
}

.top__link::before {
	content: "";
	position: absolute;
	left: 0;
	top: 2px;
	width: 17px;
	height: 19px;
	background-image: url('../images/play.svg');
}

.tools {
	padding-top: 110px;
}

.tools__title {
	text-align: center;
	max-width: 539px;
	margin: 0 auto 46px;
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	padding: 0 10px;
}

.tools__inner {
	padding-bottom: 90px;
	background-image: url('../images/tools-bg.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.tools_items {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px 0;
	margin-bottom: 60px;

}

.tools__item {
	width: 240px;
}

.tools_item-img {
	margin-bottom: 30px;
}

.tools__item-title {
	font-size: 22px;
	line-height: 33px;
	font-weight: 600;
	margin-bottom: 13px;
}

.tools__link {
	color: #FFFFFF;
	display: block;
	font-weight: 700;
	background-color: #FF9900;
	text-decoration: none;
	padding: 15px 32px 14px 34px;
	border-radius: 4px;
	width: 175px;
	margin: 0 auto;
}

.direction {
	padding: 120px 0 100px;
}

.direction__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.direction__item-content {
	max-width: 486px;

}

.direction__item-pretitle {
	margin-bottom: 3px;
}

.direction__item-title {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
	margin-bottom: 22px;
}

.direction__item-posttitle {
	margin-bottom: 30px;
}

.direction__item-subtitle {
	font-weight: 700;
	margin-bottom: 12px;
}

.direction__item-text {
	margin-bottom: 25px;
}

.direction__list {
	list-style: none;
}

.direction__list-item {
	margin-bottom: 30px;
	padding-left: 65px;
	max-width: 430px;
	position: relative;
}

.direction__list-item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 9px;
	width: 35px;
	height: 35px;
	background-image: url('../images/check.svg');
}


.team__inner {
	background-image: url('../images/team-bg.svg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.team__items {
	padding: 230px 0 380px;
	position: relative;
}

.team__item {
	position: absolute;
	width: 98px;
	height: 98px;
}

.team__item--1 {
	top: 157px;
	right: 95px;
}

.team__item--2 {
	top: 223px;
	left: 0;
}

.team__item--3 {
	bottom: 223px;
	left: 0;
}

.team__item--4 {
	bottom: 123px;
	left: 660px;
}

.team__item--5 {
	bottom: 235px;
	right: 0;
}

.team__box {
	text-align: center;
	max-width: 542px;
	margin: 0 auto;
}

.team__title {
	margin-bottom: 22px;
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
}

.team_text {
	color: #567592;
	margin-bottom: 45px;
}

.team__btn {
	background-color: #FF9900;
	border: none;
	border-radius: 4px;
	color: #fff;
	padding: 15px 31px 14px 30px;
}

.team__item-img {
	width: 98px;
	height: 98px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}

.team__item-text {
	position: absolute;
	top: -30px;
	right: 75px;
	background-color: #fff;
	padding: 14px 20px 15px;
	color: #2F281E;
	box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
	border-radius: 26px;
	white-space: nowrap;

}

.team__item-text.team__item-text--left {
	top: -40px;
	right: auto;
	left: 62px;

}

.team__item-text--right::after,
.team__item-text--right::before,
.team__item-text--left::before,
.team__item-text--left::after {
	content: "";
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
}

.team__item-text--right::after,
.team__item-text--left::after {
	width: 17px;
	height: 17px;
	bottom: -7px;
	right: 30px;
}

.team__item-text--right::before,
.team__item-text--left::before {
	width: 9px;
	height: 9px;
	bottom: -16 px;
	right: 9px;
}

.team__item-text--left::before {
	left: 9px;
	right: auto;
}

.team__item-text--left::after {
	left: 30px;
	right: auto;
}

.blog {
	margin: 30px 0 120px;
}

.blog__title {
	font-size: 34px;
	line-height: 51px;
	font-weight: 700;
	margin-bottom: 9px;
}

.blog__text {
	margin-bottom: 55px;
}

.slider {
	margin: 0 -20px;
}

.slider__item {
	padding: 0 20px;
}

.slider__item-img {
	width: 348;
	height: 185px;
	object-fit: cover;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 25px;
}

.slider__item-info {
	margin-bottom: 12px;
	line-height: 28px;
}

.slider__item-author {
	text-decoration: none;
	font-weight: 700;
	color: #544837;
}

.slider__item-title {
	text-decoration: none;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 84px;
	transition: all .3s;

}

.slider__item-title:hover {
	color: #ff9900;
}

.slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
}

.slick-dots button {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: none;
	font-size: 0;
	background-color: #EFEFEF;
	padding: 0;
	margin: 0 5px;
}

.slick-dots .slick-active button {
	background-color: #ff9900;
}

.footer__inner {
	padding: 105px 0 100px;
	border-top: 1px solid rgba(188, 208, 229, 0.496913);
	display: flex;
	justify-content: space-between;
}

.footer__menu {
	width: 135px;
}

.footer__menu-title,
.footer__form-text {
	margin-bottom: 35px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #2F281E;
}

.footer__list {
	list-style: none;
}

.footer__menu-link {
	text-decoration: none;
	font-size: 16px;
	line-height: 35px;
	font-weight: 400;
	color: #544837;
}

.footer__form {
	width: 330px;
}

.footer__form-input {
	height: 48px;
	width: 330px;
	padding: 0 15px;
	border: 1px solid #BCD0E5;
	border-radius: 4px;
	margin-bottom: 21px;
	display: inline-block;
}

.footer__form-input::placeholder {
	font-size: 16px;
	line-height: 28px;
	color: #BCD0E5;
}

.footer__form-btn {
	border: none;
	background-color: #FF9900;
	color: #fff;
	padding: 8px 15px 7px 15px;
	border-radius: 4px;
}